@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/* shared styles */
.dispaly-flex{
  display:flex;
}
/* dark 02 */
.text-gray{
  color:#424242;
}
.text-light-gray{
color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
  color:#FF900E;
}
.btn-primary{
  border-radius: 4px;
  border: none;
  color:white;
  padding: 12px 12px;
  font-size: 1rem;


  background-color: rgb(255, 144, 14);;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles */
/* 
  .header{
  max-width: 1920px;
   margin:0 auto; 
}   */
/* navbar related styles */
.navbar{
  /* border:2px solid blueviolet; */
  /* display:flex; */
  justify-content: space-between;
  align-items: center;
}
  .navbar,.banner{
  
    max-width: 1440px;
     margin:0 auto;  
  
}  


.nav-item{
  list-style: none;
   margin-right: 2.5rem; 
  /* border: 2px solid olivedrab; */
}
.nav-link{
  text-decoration: none;
  /* color: rgb(66, 66, 66); */
}
.brand{
  font-weight: 700;
  font-size: 1.5rem;
}

/* banner */
/* .banner{
  border: 2px solid rgb(43, 180, 25);
 
} */
.banner-content{
  max-width: 866px;
  margin: 0 auto;
}
.banner-title{
  text-align: center;
  font-weight: 700;
line-height: 2rem;
font-size: 2rem;
margin-top:  0.9rem;
color:#131313
}
.banner-description{
  text-align: center;
  font-weight: 400;
line-height: 2rem;
font-size: 1rem;
margin-top:  0.5rem;
}
.banner-btn{
  /* border:2px solid blueviolet; */
  max-width:120px;
  margin: 10px auto;
}
.banner-image{
  width:100%;
  /* margin: 0 auto;  */
  padding-left: 100px;
  padding-right: 100px;
} 

/* .banner-img{
   border:3px solid brown; 
 max-width:860px;
  margin: 0 auto;
} */

/* team start */
.team-container{
  display:flex;
  /* border:5px solid brown; */
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
.team-img-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  /* border:3px solid blue; */
  gap:10px;
  width:100%;
  
  
}
.team-img-container img {
   width: 100%;  
   /* Image takes up full width of its grid cell   */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures no cropping or overflow */
}
.team-feature{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 40px;
}

.section-title{
  font-weight: 700;
  font-size: 2rem;
}
.feature-btn{
  width:20%;
  margin-top: 10px;
}

.feature-description{
 
  font-size: 0.8rem;
}

/* feature enjoy */
.feature{
 
  border:3px solid blue;
  max-width: 90%;
  margin: 90px auto;
}
.feature-section-title{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 15px;

}
 .feature-content{
  border:4px solid brown;
  /* gap:40px; */
   margin-right: 40px; 
    width:50%; 
   margin: 0 40;

 
} 
.feature-card{
  /* border:2px solid red; */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}
.description-feature{
  font-size: 1rem;
  font-weight: 1rem;
  margin-bottom: 30px;
}
.feature-architect{
  border:3px solid green;
  /* position: relative; */
}

.img-feature img{
  width:100%;
} 

  .img-feature{
  position: relative;
}  
.experience-button{
  position: absolute;
  margin-left: -40px; 
  margin-top: -100px;
 


} 
.btn-primary1{
  padding:35px 35px;
  /* max-width:250px; */
}
.experience-year{
  font-size: 2rem;
  font-weight: 700;
}
.experience-title{
  font-size: 0.9rem;
  font-weight: 300;
}
.card-title{
  color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 1.2rem;
font-weight: 600;
line-height: 1.2rem;

text-align: left;
}
.card-description{
  color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;

text-align: left;
}
/* Responsive Media Query. */
@media screen and (max-width:576px){
  .navbar
  {
      flex-direction: column;
  }

   .team-img-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   gap:10px;
    padding: 0;
    

} 
/* .img1 ,.img2 ,.img3,.img4{
  width:70%;
} */
.team-container{
  max-width:100%;
 margin: 0 auto; 
  flex-direction: column;
  margin-top: 2rem;
}
/* .team-feature{
  display:flex;
  flex-direction: row;

} */
.team-feature{
  margin-left: 0px;
}

.feature-btn{
  width:20%;
  margin-top: 10px;
  padding: 10px 10px;
}
/* feature enjoy */
.feature-content{
  border:4px solid brown;
  /* gap:40px; */
   margin-right: 40px; 
    width:100%; 
   margin-bottom: 20px ;

 
} 
.feature{
  flex-direction: column;
}
.experience-button{
  
  margin-left: 12px; 
  margin-top: -130px;
 


} 
}



@media screen and (min-width:576px) and (max-width:992px) {

  /* .navbar
  {
      flex-direction: column;
  } */
  .banner-description{
    text-align: center;
    font-weight: 400;
  line-height: 1rem;
  font-size: 0.9rem;
  margin-top:  0.9rem;
  padding: 0 40px;

  }
   .team-img-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   gap:10px;
    padding: 0;
    

} 
/* .img1 ,.img2 ,.img3,.img4{
  width:70%;
} */
.team-container{
  max-width:100%;
 margin: 0 auto; 
  flex-direction: column;
  margin-top: 2rem;
}
/* .team-feature{
  display:flex;
  flex-direction: row;

} */
 /* .team-feature{
   margin:25px auto; 
 
}  */
  .team-feature {
   
    align-items: center; /* Centers content inside team-feature */
    
    text-align: center; /* Centers text */
    margin: 20px auto; /* Adjust margin for smaller screens */
  }

.feature-btn{
  width:20%;
  margin-top: 10px;
  padding: 10px 10px;
}


/* feature enjoy */
.feature-content{
  border:4px solid brown;
  /* gap:40px; */
   /* margin-right: 40px;  */
    width:90%; 
   margin: 40px 60px;

 
} 
.feature{
  flex-direction: column;
}
.experience-button{
  
  margin-left: 12px; 
  margin-top: -130px;
 


} 
}